<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Automation Test Suite" verbose="1" parallel="tests" thread-count="1">
    <listeners>
        <!-- Allure TestNG Listener -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <!-- Retry Listener for Flaky Tests -->
        <listener class-name="listeners.RetryListener"/>
    </listeners>

<!--    <test name="View Event Page Test">-->
<!--        <classes>-->
<!--            <class name="runner.ui.TestRunnerViewEventsPage"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="Booking an Event">
        <classes>
            <class name="runner.ui.TestRunnerBookEvent"/>
        </classes>
    </test>
</suite>
